<div id="simulator-form-container">
  <%= render partial: 'simulator/form', locals: { quote: quote }%>
</div>
<div id="result-container">

</div>
<div id="last-sale-container">

</div>
<div id="product_info-container">

</div>