$darkerAAbackgroundGray: #d3dcde;

.simulator-form {

  .left-side {
    width: 70%;
    float: left;
  }

  .right-side {
    background-color: $darkerAAbackgroundGray;
    width: 25%;
    float: right;
    min-height: 400px;
    padding: 26px 22px;
    margin-top: -23px;
  }

  .left-top {

    .basic-fields {
      width: 58%;
      float: left;
    }

    .freight-conditions-fields {
      width: 38%;
      float: right;
    }
      #quote_freight_condition_input {
        margin-top: -7px;
      }
  }

  .left-bottom {
    display: inline-block;
    width: 100%;

    .details-fields {
      width: 31%;
      float: left;
    }
    .taxes-fields {
      width: 35%;
      float: left;
      margin-left: 3%;
    }


    .exchange-rate-fields {
      width: 28%;
      float: right;
    }
  }

  fieldset.inputs {
    margin-top: -7px;
    padding-top: 42px;
    padding-bottom: 8px;
  }
}

.details-fieldset {

  label {
    width: 60% !important;
  }
  input {
    width: 30% !important;
  }
}

.tax-box {

  li {
    display: inline-block;
    margin: 5px
  }

  label {
    font-size: 1.0em;
    font-weight: bold;
    color: #5E6469;
    text-transform: uppercase;
    margin: 0 14px 0 18px
  }

  input#quote_icms, input#quote_pis_confins {
    width: 40px;
  }

  input#quote_icms_padrao {
    margin: 0 8px 0 37px;
  }
  input#quote_pis_confins_padrao {
    margin: 0 8px 0 -3px;
  }
}

.freight-conditions-fields {

  legend.label {
    border: none;
  }

  label {
    width: 55% !important;
    margin-right: -35px;
  }

  .choices-group {
    margin-left: 82px;
  }

  #s2id_quote_city_id {
    width: 45% !important;
  }
}

.price-markup-fieldset {

  legend.label {
    border: none;
  }

  li.input {
    padding-left: 0;
    padding-right: 0;
  }

  li.choice {
    margin-top: 1px;
    margin-bottom: 27px;
  }

  #quote_fixed_price_input {
    float: left;
    width: 50%;
  }

  #quote_unit_price_input, #quote_markup_input {
    float: left;
    width: 40%;
    font-size: 15px;
  }

  .make-quote-button {
    float: right;
    margin-right: calc(50% - 60px);
  }
}