$darkerAAbackgroundGray: #d9d9d9;
$disabledInputGray: #f2f2f2;
$disabledInputFontGray: #a6a6a6;
$simulateButtonBlue: #006699;
$simulateButtonBlueHover: #0088cc;
$productSectionBackgroundGray: #8c8c8c;
$aaFontGray: #5E6469;

@mixin strong-label {
  font-size: 1.0em;
  font-weight: bold;
  color: $aaFontGray;
  text-transform: uppercase !important;
}

.simulator-form {

  .inputs-side {
    width: 52%;
    float: left;
  }

  .outputs-side {
    background-color: $darkerAAbackgroundGray;
    width: 43%;
    float: right;
    min-height: 400px;
    padding: 26px 22px;
    margin-top: -30px;
    margin-right: -30px;
  }

  .inputs-top {

    .basic-fields {
      width: 55%;
      float: left;
    }

    .freight-conditions-fields {
      width: 43%;
      float: right;
    }
      #quote_freight_condition_input {
        margin-top: -7px;
      }
  }

  .inputs-bottom {
    width: 100%;

    &-left {
      width: 55%;
      float: left;
    }

    &-right {
      width: 43%;
      float: right;
    }
  }

  fieldset.inputs {
    margin-top: -7px;
    padding-top: 35px;
    padding-bottom: 8px;

    legend > span {
      padding: 6px 15px
    }
  }
}

.currency-and-unit-inputs {

  fieldset.inputs {
    height: 25px;
    padding-top: 22px;
    padding-bottom: 24px;
  }

  .choices-group {
    width: 100%;
    padding: 0;
    text-align: center;
  }

  .choice {
    width: 50px;
    display: inline-block;
  }
}

.details-and-exchange-rates-inputs {

  .input.number {
    padding: 7px 10px;
  }
}

.details-fieldset {

  label {
    width: 60% !important;
  }
  input {
    width: 30% !important;
  }
}

.tax-box {

  li {
    display: inline-block;
    margin: 5px
  }

  label {
    @include strong-label;
    margin: 0 0 0 12px;
  }

  input#quote_icms, input#quote_pis_confins {
    width: 60px;
  }

  input#quote_icms_padrao {
    margin: 0 8px 0 37px;
  }
  input#quote_pis_confins_padrao {
    margin: 0 8px 0 -3px;
  }
}

.freight-conditions-fields {

  legend.label {
    border: none;
  }

  #quote_freight_condition_input label {
    width: 51% !important;
    margin-right: -35px;
  }

  #quote_city_input label {
    width: 45% !important;
    margin-right: -35px;
  }

  .choices-group {
    margin-left: 82px;
  }

  #s2id_quote_city_id {
    width: 45% !important;
    margin-left: 50px;
  }
}

.price-markup-fieldset {

  legend.label {
    border: none;
  }

  li.input {
    padding-left: 0;
    padding-right: 0;
  }

  li.choice {
    margin-top: 1px;
    margin-bottom: 27px;
  }

  #quote_fixed_price_input {
    float: left;
    width: 50%;
  }

  #quote_unit_price_input, #quote_markup_input {
    float: left;
    width: 40%;
    font-size: 15px;
  }

  .make-quote-button {
    float: left;
    margin-left: calc(50% - 60px);
    background-color: $simulateButtonBlue;
    font-size: 18px;
    width: 116px;
    height: 52px;

    &:hover {
      background-color: $simulateButtonBlueHover !important;
    }

    &:active {
      border: 5px inset;
    }
  }

  .markup-default-msg {
    float: left;
    margin-left: 56%;
    margin-top: -75px;
    font-size: 10px;
  }

  #quote_watched_input {
    float: right;
    margin-right: 19%;
    margin-top: 25px;
    margin-bottom: -33px;
    padding-bottom: 5px;
    width: 100px;
  }
}


.results-section {

  .panel {
    width: 48%;
    min-height: 390px;
  }

  .quote-results-panel {
    float: left;

    th, td {
      color: $aaFontGray;
    }
  }

  .last-sale-panel {
    float: right;
  }

  .simulate-msg {
    font-size: 14px;
    text-align: center;
    color: $aaFontGray;
    margin-top: 10%;
    padding: 10px;
  }

  .row-unit_price_amount, .row-total_price, .row-mcb {
    td, th {
     font-weight: bold;

    }
  }
}

.freight-fieldset {

  height: 241px;

  #quote_freight_padrao_input label {
    @include strong-label;
  }

  #quote_unit_freight_input {
    margin-top: 23px;
    margin-left: 54px;

    label {
      width: 85px;
    }

    input {
      width: 100px;
    }
  }

  #quote_freight_base_type_input legend.label {
    border: none;
  }
}

.disabled-input {
  background-color: $disabledInputGray !important;

  span, &#quote_markup, &#quote_unit_price {
    color: $disabledInputFontGray;
  }
}

.product-info-section {
  width: 100%;
  display: inline-block;
  text-align: center;
  margin-top: -15px;
  padding: 0 10px 10px 10px;
  background-color: $productSectionBackgroundGray;

  h3 {
    color: $disabledInputGray;
    background-color: $productSectionBackgroundGray;
    font-size: 15px;
  }

  .product-info-panel{
    overflow: auto;
    margin-bottom: 0px;
    border: none;

    .attributes_table {
      float: left;
      margin: 0 5%;
      width: 40%;
    }

    .simulate-msg {
      font-size: 14px;
      text-align: center;
      color: $aaFontGray;
      margin-top: 4px;
      padding: 10px;
    }
  }
}