//= require activeadmin_addons/all
// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;
// Active Admin's got SASS!
$quantiqColor: #e3136a;
$quantiqLightColor: #fbd0e2;
@import "active_admin/mixins";
@import "active_admin/base";
$skinLogo: $quantiqColor image-url("logo_transp.png") no-repeat 14px/100px;
$skinActiveColor: #888;
$skinHeaderBck: $quantiqColor;
$panelHeaderBck: #555;
//$skinLogo: $skinHeaderBck image-url("logo_admin.png") no-repeat center center;

@import "active_skin";
@import "simulator";



// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

.diagonal-icms-cell {
  background-color: whitesmoke;

  a {
  color: black !important;
  }
}

.icms-matrix {
  td, th {
    border-right: 1px solid #e8e8e8;
    padding: 2px !important;
    text-align: center !important;
    a {
    text-decoration: none !important;
    }
  }
}

.flash {
  line-height: 1.5em !important;
}